@font-face {
    font-family: "CascadiaMono";
    src: url("CascadiaMono-Light.otf");
}

body {
    background: #222222;
    margin: 0;
    font-family: CascadiaMono;
	
}
h1 {
    font-family: CascadiaMono; 
    font-size: 36px;
    color: #FFFFFF;
}
.titleblock {
	background: #FFF;
	margin:	5%;	
}

.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}