@font-face {
    font-family: "CascadiaMono";
    src: url('CascadiaMono-Light.otf');
}

body {
  background: #222;
  margin: 0;

}
nametitle {
    font-family: CascadiaMono;
    font-size: 36px;
    color: #FFF;
  
}
