@font-face {
    font-family: "CascadiaMono";
    src: url(CascadiaMono-Light.otf) format("truetype");
}

body: {
  background: #222;
  margin: 0;

}
#nametitle {
  font: 36px CascadiaMono;
  color: #FFF;
  
}
